rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Pengguna hanya bisa membaca dan menulis data di dalam folder 'users' milik mereka sendiri
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}